:root {
	--rotation-animation: rotatehover 3s ease infinite;
	--gradient-flame: linear-gradient(90deg, rgba(191, 44, 105, 1) 0%, rgba(253, 29, 29, 1) 33.333%, rgba(252, 104, 49, 1) 66.667%, rgba(252, 176, 69, 1) 100%);
	--gradient-flame2: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(191, 44, 105, 1) 25%, rgba(253, 29, 29, 1) 50%, rgba(252, 104, 49, 1) 75%, rgba(252, 176, 69, 1) 100%);
	--gradient-sean: linear-gradient(90deg,rgba(241, 82, 127, 1) 0%, rgba(80, 225, 228, 1) 33%, rgba(183, 113, 231, 1) 67%, rgba(244, 211, 123, 1) 100%);
	--gradient-sean2: linear-gradient(90deg,rgba(241, 82, 127, 1) 0%, rgba(80, 225, 228, 1) 38.3%, rgba(0, 0, 0, 1) 38.31%, rgba(0, 0, 0, 1) 42.5%, rgba(183, 113, 231, 1) 43.51%, rgba(244, 211, 123, 1) 100%);
	--gradient-hiram: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(87, 199, 133, 1) 26%, rgba(202, 180, 204, 1) 30%, rgba(150, 0, 0, 1) 65%, rgba(48, 74, 67, 1) 73%, rgba(154, 166, 28, 1) 100%);
	--gradient-dino: linear-gradient(133deg, rgba(66, 193, 207, 1) 0%, rgba(67, 209, 88, 1) 100%);
	--gradient-tiny: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(241, 32, 44, 1) 0%, rgba(131, 58, 179, 1) 46%, rgba(134, 57, 175, 1) 0%, rgba(142, 55, 166, 1) 98%, rgba(149, 54, 158, 1) 98%, rgba(253, 29, 29, 1) 64%, rgba(220, 114, 252, 1) 39%);
	--gradient-elgot: linear-gradient(90deg, rgba(255, 252, 252, 1) 0%, rgba(64, 64, 64, 1) 50%, rgba(255, 252, 252, 1) 100%);
	--gradient-submarine: linear-gradient(89deg, rgba(207, 0, 7, 1) 0%, rgba(201, 32, 147, 1) 20%, rgba(201, 0, 10, 1) 39%, rgba(203, 32, 147, 1) 60%, rgba(201, 0, 17, 1) 71%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	--gradient-submarine2: linear-gradient(90deg, rgba(207, 0, 7, 1) 0%, rgba(201, 32, 66, 1) 52%, rgba(204, 39, 108, 1) 76%, rgba(212, 104, 135, 1) 77%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	--gradient-submarine3: linear-gradient(90deg, rgba(207, 0, 7, 1) 0%, rgba(199, 87, 134, 1) 52%, rgba(212, 104, 133, 1) 79%, rgba(237, 83, 193, 1) 100%);
	--gradient-submarine4: linear-gradient(90deg, rgba(0, 207, 72, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
	--gradient-sam: linear-gradient(45deg, rgba(0, 181, 121, 1) 0%, rgba(67, 128, 240, 1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');
/* .message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55{
	background: var(--gradient-flame);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: #fd1d1d 0 0 4px;
} */
/* .message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55{
    color: #fff;
    text-shadow: 0 0 4px #fd1d1d, 0 0 4px #fd1d1d, 0 0 4px #fd1d1d, 0 0 4px #fd1d1d;
} */
/*.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55{
    background: linear-gradient(#fff 50%,#fd1d1d 100%);
    -webkit-text-stroke: 0.6px #650101;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
/* .message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55{
    color: #fff;
    text-shadow: #fd1d1d 0 1.5px 0px;
    -webkit-text-stroke: 0.3px hsl(0, 98%, 20%);
} */

.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55{
	font-family: "Museo Moderno";
	background: var(--gradient-flame);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="698029381116756029"],[src*="911352044382748732"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(253, 29, 29, 1) 0 0 4px;
}

.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="949136597381709885"]) .header_c19a55 .username_c19a55 {
	font-family: "Cherry Bomb One";
	background: var(--gradient-sean);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="949136597381709885"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(187, 158, 177, 1) 0 0 4px;
}

.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1122678676115443752"]) .header_c19a55 .username_c19a55 {
	background: var(--gradient-hiram);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1122678676115443752"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(112, 99, 68, 1) 0 0 4px;
}

.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="752992600289574974"],[src*="1347715082406203473"]) .header_c19a55 .username_c19a55 {
	background: var(--gradient-dino);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="752992600289574974"],[src*="1347715082406203473"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(66, 201, 147, 1) 0 0 4px;
}

.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="712780723009880226"]) .header_c19a55 .username_c19a55 {
	background: var(--gradient-tiny);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="712780723009880226"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(199, 71, 164, 1) 0 0 4px;
}

.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1282782055624605770"]) .header_c19a55 .username_c19a55 {
	background: var(--gradient-elgot);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1282782055624605770"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: rgba(159, 158, 158, 1) 0 0 4px;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1004832732574126151"]) .header_c19a55 .username_c19a55{
    font-family: "Playwrite AU NSW", cursive;
	font-weight: bolder;
	background: var(--gradient-submarine);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="1004832732574126151"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: #fff 0 0 4px;
/*	text-shadow: rgba(107, 208, 98, 1) 0 0 4px;*/
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="649809010824052737"]) .header_c19a55 .username_c19a55{
    font-family: "Pixelify Sans";
    font-size: large;
	background: var(--gradient-sam);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message__5126c.wrapper_c19a55 .contents_c19a55:has(.avatar_c19a55[src*="649809010824052737"]) .header_c19a55 .username_c19a55:hover{
	background-size: 400% 400%;
	animation: var(--rotation-animation);
	text-shadow: #219ab4 0 0 4px;
}

@keyframes rotatehover {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
